In [17]:
import csv

# Define the data
dataset = [
    ['Parameter', 'Howarth', 'Jones', 'Howarth Upper Lim Err', 'Howarth Lower Lim Err', 'Jones Upper Lim Err', 'Jones Lower Lim Err'],
    ['i',            '84.9', '59.79',       '90',                    '78',                '67.59',                 '52.83'],
    ['ωₑ/ω_c',      '0.946', '0.993',    '0.966',                 '0.926',                '0.999',                 '0.963'],
    ['vₑ sin i',      '306', '316.08',        '',                      '',               '330.05',                '301.30'],
    ['vₑ',            '307.22', '364.15',         '',                      '',            '394.63',                '345.13'],
    ['Tₑff',        '9.693', '9.765',    '9.743',                 '9.643',                '9.992',                 '9.617'],
    ['Tₚ',          '10.952','10.660',        '',                      '',               '10.910',               '10.466' ],
    ['Tₑ',         '8.680',  '7.441',        '',                       '',                '7.823',                '6.782' ],
    ['Rₚ',           '2.21',  '2.08',      '2.23',                 '2.19',                 '2.12',                  '2.04'],
    ['Rₑ',           '2.82',  '3.37',         '',                      '',                 '3.72',                  '3.19'],
    ['Pᵣₒₜ₍ₑ₎',     '11.12',  '11.32',        '',                       '',               '11.68',                  '10.98'],
    ['θ',            '0.89', '0.84',          '',                       '',                '0.86',                   '0.82'],
    ['log(gₚ)',     '4.15',  '4.08',         '',                        '',                '4.10',                   '4.06'],
    ['log(gₑ)',    '3.60',   '3.03',        '',                         '',                '3.35',                   '2.57'],
    ['M',          '2.53',   '2.41',     '2.69',                    '2.37',                '2.47',                   '2.37'],
    ['log(L/L☉)',  '1.72',   '1.63',     '1.74',                    '1.70',                '1.68',                   '1.58'],
]

# Specify the file path
filename = 'Full_PhaseII_Dataset.csv'

# Write the dataset to a CSV file
with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(dataset)

print('CSV dataset created successfully.')

CSV dataset created successfully.

In [18]:
# libraries
from os import name 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import math 
import csv

In [19]:
data = pd.read_csv('/Users/john/Desktop/Full_PhaseII_Dataset.csv')
with pd.option_context('display.max_columns', None, 'display.max_rows', None):
    display(data)

,Parameter,Howarth,Jones,Howarth Upper Lim Err,Howarth Lower Lim Err,Jones Upper Lim Err,Jones Lower Lim Err
0,i,84.900,59.790,90.000,78.000,67.590,52.830
1,ωₑ/ω_c,0.946,0.993,0.966,0.926,0.999,0.963
2,vₑ sin i,306.000,316.080,NaN,NaN,330.050,301.300
3,vₑ,307.220,364.150,NaN,NaN,394.630,345.130
4,Tₑff,9.693,9.765,9.743,9.643,9.992,9.617
5,Tₚ,10.952,10.660,NaN,NaN,10.910,10.466
6,Tₑ,8.680,7.441,NaN,NaN,7.823,6.782
7,Rₚ,2.210,2.080,2.230,2.190,2.120,2.040
8,Rₑ,2.820,3.370,NaN,NaN,3.720,3.190
9,Pᵣₒₜ₍ₑ₎,11.120,11.320,NaN,NaN,11.680,10.980
10,θ,0.890,0.840,NaN,NaN,0.860,0.820
11,log(gₚ),4.150,4.080,NaN,NaN,4.100,4.060
12,log(gₑ),3.600,3.030,NaN,NaN,3.350,2.570
13,M,2.530,2.410,2.690,2.370,2.470,2.370
14,log(L/L☉),1.720,1.630,1.740,1.700,1.680,1.580